<app-header titulo="Usuario" [showBack]="true" url="/tabs/home"></app-header>

<ion-content>
    <app-layout>
        <ion-card mode="ios" class="profile-card">
            <ion-card-content class="ion-text-center">
                <div class="avatar-container">
                    <ion-avatar>
                        @if (avatarUrl()) {
                        <img [src]="avatarUrl()" alt="Avatar">
                        } @else {
                        <div class="initials"><span class="initials__text">{{ userInitials() }}</span></div>
                        }
                    </ion-avatar>
                </div>

                <h2 class="user-name">{{ userName() }}</h2>

                <div class="notifications-status">
                    <p>Notificaciones
                      @if (notifications()) {
                      <ion-text color="success">activadas</ion-text>
                      } @else {
                      <ion-text color="danger">desactivadas</ion-text>
                      }
                    </p>
                </div>
            </ion-card-content>
        </ion-card>

        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-card mode="ios" class="option-card ion-text-center" routerLink="/tabs/user/settings-user">
                        <ion-card-content>
                            <ion-icon name="cog" color="primary" class="option-icon"></ion-icon>
                            <p>Configuración</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card mode="ios" class="option-card ion-text-center logout-card">
                        <ion-card-content (click)="logout()">
                            <ion-icon name="log-out-outline" color="danger" class="option-icon"></ion-icon>
                            <p class="logout-text">Cerrar sesión</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </app-layout>

</ion-content>