<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="training">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Entrenamiento</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="diet">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Dieta</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>